html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 20px 0 0 0;
    background-image: url("../_img/back.jpg");
    background-size: cover;
    font-family: sans-serif;
    overflow: hidden;
}

#container{
    margin: auto;
    width: 1200px
}

#host{
    float: left;
    height: 568px;
    font-size: 12px;
    padding: 20px;
}

#host ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}

#host .row{
    display: flex;
}

#host .col{
    width: 140px;
}

#host .col.disk{
    width: 340px;
}

#diskled{
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 2px;
    width: 10px;
    height: 10px;
    border: 1px solid #7ebe25;
    margin-right: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

#diskled:before{
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    left: 0;
    top: 0;
    background-color: #7ebe25;
    display: none;
}

#diskled:after{
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    left: 0;
    bottom: 0;
    background-color: #e9cc00;
    display: none;
}

#diskled.read:before{
    display: block;
    animation: fade 1s forwards;
}

#diskled.write:after{
    display: block;
    animation: fade 1s forwards;
}

@keyframes fade {
    0% {
        opacity: 1 }
    100% {
        opacity: 0 } 
}

#suae{
    display: inline-block;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.63);
}



#blanket{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}

#blanket #panel{
    position: absolute;
    width: 480px;
    height: 360px;
    border: 1px solid black;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.65);
    top: 50%;
    left: 50%;
    margin-left: -240px;
    margin-top: -180px;
    background-color: white;
}

#blanket #panelheader{
    background-color: #537ca1;
    color: white;
    padding: 4px 10px;
    height: 25px;
}

#blanket #panelheader .close{
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 16px;
    height: 16px;
    text-align: center;
    top: 4px;
    right: 4px;
    font-size: 12px;
}

#blanket #panelheader .close:hover{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.46);
    cursor: pointer;
}

#blanket #panelcontent{
    height: 292px;
    position: relative;
    overflow: hidden;
}

#blanket #panelcontent textarea{
    position: absolute;
    left: 0;
    top:0;
    right:0;
    bottom: 0;
    width: 99%;
    border: none;
    padding: 10px;
}

#blanket #panelbuttons{
    height: 40px;
    background-color: #dddddd;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#blanket #panelbuttons .button{
    display: inline-block;
    padding: 5px 10px;
    margin-top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.7);
}

#blanket #panelbuttons .button:hover{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.46);
    cursor: pointer;
    background-color: white;
}

#blanket #panel.small #paneltitle,
#blanket #panel.small #panelbuttons{
    display: none;
}

#blanket #panel.nobuttons #panelbuttons{
    display: none;
}

#blanket #panelcontent iframe{
    width: 100%;
    height: 100%;
    border: none;
}


.box{
    background-color: rgba(220, 220, 220, 0.8);
    border: 1px solid silver;
    box-shadow: inset 1px 1px 2px black;
    margin: 4px;
    position: relative;
}

.box h2{
    padding: 4px;
    margin: 0;
    background: #6492af;
    background: -moz-linear-gradient(left, #6492af 0%, #3e6184 100%);
    background: -webkit-linear-gradient(left, #6492af 0%,#3e6184 100%);
    background: linear-gradient(to right, #6492af 0%,#3e6184 100%);
    color: white;
    font-size: 14px;
    font-weight: normal;
    text-shadow: 0 1px 1px black;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.63);
    z-index: 10;
}

.box h2 b{
    display: inline-block;
    margin-right: 4px;
}

.box h2 #disklabel{
    text-transform: capitalize;
}

#diskcontent{
    padding: 4px;
    min-height: 280px;
}

#diskcontent .folder,
#diskcontent .file{
    padding: 2px 2px 2px 20px;
    border-bottom: 1px solid #979595;
}

#diskcontent .folder:hover{
    background-color: rgba(97, 235, 243, 0.18);
    cursor: pointer;
}

#diskcontent .file:hover{
    background-color: rgba(172, 243, 196, 0.18);
    cursor: pointer;
}

#diskcontent .folder:before,
#diskcontent .file:before{
    content: "\f07b";
    display: inline-block;
    position: absolute;
    margin-left: -16px;
    font-family: FontAwesome;
    font-size: 12px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #757576;
}

#diskcontent .file:before{
    content: "\f016";
}

#diskcontent .folder:hover:before,
#diskcontent .file:hover:before{
    color: #3461a8;
}


#diskcontent .bigbutton{
    background-color: #578685;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom-color: black;
    border-right-color: black;
    text-shadow: 0 1px 1px black;
    text-align: center;
    padding: 20px;
    margin: 10px auto;
    width: 200px;
}

#diskcontent .ndos{
    text-align: center;
    padding: 16px;
}

#diskcontent .tosec{
    padding: 16px 16px 0 16px;
}

#diskcontent .tosec span{
    display: block;
    background-color: rgba(255, 255, 255, 0.91);
    margin-top: 8px;
    padding: 8px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    font-size: 15px;
}


#diskactions,
#fileactions{
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
}


#diskactions div,
#fileactions div{
    background-color: #578685;
    color: white;
    padding: 2px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom-color: black;
    border-right-color: black;
    text-shadow: 0 1px 1px black;
    text-align: center;
}

#fileactions div{
    background-color: #78979a;
}

#diskactions div:hover,
#fileactions div:hover,
#diskcontent .bigbutton:hover{
    background-color: #a1aa80;
    cursor: pointer;
    
}

#filecontent{
    padding: 4px;
    position: relative;
}

#filecontent h3{
    padding: 14px 4px 4px 4px;
    border-bottom: 1px solid #a3a3a3;
    margin: 9px 0 4px 0;
}

#filecontent canvas{
    display: block;
    padding-top: 10px;
}


.box.uae{
    display: inline-block;
}


#filepanel{
    width: 140px;
    display: none;
    position: absolute;
    top: 0;
    bottom:0;
    right: 2px;
    background-color: #d4d4d4;
    border-left: 1px solid grey;
    
}


#boxcontent.file #filepanel{
    display: block;
}

#boxcontent.file #diskpanel #diskactions{
    right: 142px;
}

.adf ul{
    margin: 0;
    padding: 0 0 20px 0;
    display: block;
    width: 340px;
}

.adf ul li{
    list-style: none;
    color: white;
    display: inline-block;
    text-align: center;
    width: 72px;
}

.adf i{
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 4px;
    background-image: url("../_img/disk.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#diskwindow{
   opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#diskwindow.active{
    opacity: 1;
}
